body {
    background-image: url("https://st.depositphotos.com/1800230/4790/i/450/depositphotos_47905535-stock-photo-white-background-with-colored-inset.jpg");
    background-attachment : scroll;
    background-repeat: no-repeat;

}

#titre {
    color: orange;
}

nav  {
    /* effet flottant */
    text-decoration: none;
    /* pas d'héritage avec effet souligné */
    color: #ffffff;
    /* couleur du texte */
    background: #eb7d22;
    /* couleur de fond */
    height: 36px;
    /* hauteur */
    line-height: 33px;
    /* interligne */
    padding: 0;
    /* marges intérieur */
    font-family: sans-serif;
    /* police d'écriture */
    font-size: 13px;
    /* taille du texte */
    transition: .5s;
    /* temps de transition lors du hover : une demi seconde */
}

nav a:hover {
    /* tous liens lors du survol dans la balise nav */
    background: #f43c80;
    /* couleur de fond */
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}

li {
    text-align: center;
    flex-grow: 1;
}

li a {
    color: white;
    text-align: center;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
}
.box {
    margin: 10px 0;
  color: #fff;
  background: linear-gradient(
      90deg,
      rgb(247, 141, 3) 0%,
      rgb(247, 141, 3) 60%,
      rgb(255, 255, 255) 100%),
      radial-gradient(circle, rgb(202, 114, 14) 0%, rgba(0, 0, 0, 1) 28%);
    background-origin: padding-box, content-box;
  background-repeat: no-repeat;
 }

#coordonnees{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-weight: bold;
 }
 u{
    font-style: normal;
 }
