body {
    background-color: #191919;
    background-repeat: no-repeat;
    background-attachment : scroll;
    background-size: cover;
}
.titre {
    color: #ffffff;
    letter-spacing: 2px;
    border-bottom: 1px solid #f15025;
}
nav  {
    /* effet flottant */
    text-decoration: none;           /* pas d'héritage avec effet souligné */
    color: #868080;               /* couleur du texte */
    background: #f15025;          /* couleur de fond */
    height: 36px;                   /* hauteur */
    line-height: 33px;              /* interligne */
    padding: 0;                     /* marges intérieur */
    font-family: sans-serif;        /* police d'écriture */
    font-size: 13px;                /* taille du texte */
    transition: .5s;                /* temps de transition lors du hover : une demi seconde */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}
li {
    text-align: center;
    flex-grow: 1;
}
li a {
    color: white;
    text-align: center;
    text-decoration: none;
}
li:hover{
    background-color: #fca45c
}
table tr:nth-child(odd) {
    background-color: #f15025;
    text-align: center;
    empty-cells:hide
}
table tr:nth-child(even) {
    background-color: #fefdfc;
    text-align: center;
    empty-cells:hide
}
.box {
    margin: 10px 0;
    color: #fff;
    background: linear-gradient(90deg,
            #f15025 0%,
            #f15025 60%,
            rgb(194, 104, 30) 100%),
        radial-gradient(circle, #eb7d22 0%, rgba(0, 0, 0, 1) 28%);
    background-origin: padding-box, content-box;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    text-decoration-color: #ffffff;
}
.card{
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    background-color: #f15025;
    width: 500px;
    height: auto;
    margin : 15px;
    border-radius: 15px;
}
.card img{
    background-color: rgb(0, 0, 0);
    background-size: cover;
    width: 500px;
    height: 350px;
    margin-bottom: auto;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    margin-top: auto;
}
.card1{
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    background-color: #f15025;
    width: 300px;
    height: 250px;
    margin : 10px;
    border-radius: 15px;
}
.card1 img{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 250px;
    margin-bottom: None;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}
#titre, #texte {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#table_legende{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: bold;
}