body{
    background-image: url(fond.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(48, 18, 73); /* met l’ensemble des titres en rouge */
    }

p{
    border-width:1px;
    border-style:double;
    border-color:rgb(40, 33, 100);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
blockquote{
    border-width:1px;
    border-style:dashed;
    border-color:rgb(40, 33, 100);
    font-family: 'Times New Roman', Times, serif;
}

i{
    font-family: 'Times New Roman', Times, serif;
}
#pre{
    border-width:1px 2px 3px 2px;
    border-style:solid dotted;
    border-color:black rgb(247, 247, 247);
    padding:10px;
}
h3{
    text-align: center;
    border-width:1px;
    border-style:double;
    border-color:rgb(40, 33, 100);
}

#som {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: underline dotted;
}

a{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
a:link {
    color: #b63923;
}
  
a:visited {
    color: #281c3f;
}
  
a:focus {
    border-bottom: 1px solid;
    background: #bbb3c7;
}
  
pre:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
}
  
a:active {
    background: #265301;
    color: #CDFEAA;
}
table:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
}

