body {
}

#titre {
    color: orange;
}

nav  {
    /* effet flottant */
    text-decoration: none;
    /* pas d'héritage avec effet souligné */
    color: #ffffff;
    /* couleur du texte */
    background: #eb7d22;
    /* couleur de fond */
    height: 36px;
    /* hauteur */
    line-height: 33px;
    /* interligne */
    padding: 0;
    /* marges intérieur */
    font-family: sans-serif;
    /* police d'écriture */
    font-size: 13px;
    /* taille du texte */
    transition: .5s;
    /* temps de transition lors du hover : une demi seconde */
}

nav a:hover {
    /* tous liens lors du survol dans la balise nav */
    background: #f43c80;
    /* couleur de fond */
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}

li {
    text-align: center;
    flex-grow: 1;
}

li a {
    color: white;
    text-align: center;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
}